.navbar {
    background-color:  #10a674;
}

.nav-brand {
    color: white !important;
    font-size: 4rem !important;
    font-weight: bold;
    margin-left: 2rem;
    font-family: 'Shadows Into Light', cursive;
}